<section class="features-extra section-padding" id="assets">

    <div class="container">
        <div class="row">

            <div class="col-md-5">

                <div class="feature-list">
                    <h3><a href="{{ path('blog_show', { 'slug': post.slug }) }}">{{ post.title }}</a></h3>
                    <p>{{ post.publishedAt | date('d/m/Y') }} - {{ post.summary }} </p>
                    <a href="{{ path('blog_show', { 'slug': post.slug }) }}" class="btn btn-ghost btn-accent btn-small">Voir le post</a>
                </div>
            </div>
        </div>
    </div>
    <div class="macbook-wrap wp3" style="background: url({{ vich_uploader_asset(post, 'cover') | imagine_filter('post_wide') }})" ></div>
    <div class="responsive-feature-img">
        {% if  post.cover %}
            <img src="{{ vich_uploader_asset(post, 'cover') | imagine_filter('post_wide') }}" alt=""/>

        {% endif %}
        <img src="{{ vich_uploader_asset(post, 'cover') | imagine_filter('post_wide') }}" height="100" alt="responsive devices"></div>

</section>