<div>
    {% if  post.cover %}
        <img src="{{ vich_uploader_asset(post, 'cover') | imagine_filter('blog_post_cover') }}" alt=""/>

    {% endif %}

    <div class="feature-list">
        <h3><a href="{{ path('blog_show', { 'slug': post.slug }) }}">{{ post.title }}</a></h3>
        <p>{{ post.publishedAt | date('d/m/Y') }} - {{ post.summary }} </p>
        <a href="{{ path('blog_show', { 'slug': post.slug }) }}">Read more</a>
    </div>
</div>

