{% extends "::base.html.twig" %}

{% block body %}
    <h2>{{ post.title | upper }}</h2>
    <p>{{ post.publishedAt | date('d/m/Y') }} - {{ post.summary }} </p>
    {% if  ( post.cover is not empty) %}
        <hr />

        <img src="{{ vich_uploader_asset(post, 'cover') | imagine_filter('blog_post_cover') }}" class="img-responsive" alt=""/>
        <hr />

    {% endif %}
    <p>
        {{ post.content |raw }}
    </p>

    <a href="{{ path('blog_index') }}">Back</a>
{% endblock %}