{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}
    User > {{ "title.user.create" | trans({}, 'FOSUserBundle') }}
{% endblock%}
{% block page_title %}
    User
{% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{{ block ('title') }}</h3>
                </div>
                {{ form_start(form) }}
                <div class="box-body">
                    {{ form_rest(form) }}
                </div>
                <div class="box-footer clearfix">

                    <button type="reset" class="btn btn-warning pull-left margin"><i class="fa fa-times"></i> Reset</button>
                    <a class="btn btn-warning margin" href="{{ path('user_admin_user') }}">
                        {{ "form.back" | trans({}, 'FOSUserBundle') }}
                    </a>

                    <button type="submit" class="btn btn-primary pull-right margin"><i class="fa fa-check-square"></i>
                        {{ "form.create" | trans({}, 'FOSUserBundle') }}</button>
                </div>
                {{ form_end(form) }}
            </div>

        </div>
    </div>

{% endblock %}
